.desaparezco {
    display:none;
}
.abre {
  margin-bottom: 12px;
}
.cierra {
  margin-bottom: 12px;
}

.hora {
    padding: 12px 4px;
    border: 2px solid green;
  }
  .prueba-notificaciones {
    margin-top: 4px
  }

  .getMoves{
    margin-left: 45%;
  }
  .anterior {
    overflow-x: scroll;
}
