
body {
  background-color: #e6e6e6 !important;
}
.navDiv {
  width: 15%;
  height: 100%;
  position: sticky;
}
.desaparezco {
  display:none;
}

.pase {
  padding: 12px 4px;
  border: 2px solid green;
}

.card-body-product {
padding: 0.7rem 0.7rem;
}

.card-title-product {
  font-size: 0.7rem;
  text-align: center;
}




.la {
  --bs-gutter-x: 0 !important
}
.tg-0pky {
  font-size: 9px;
}

.error {
  padding: 12px 4px;
  border: 2px solid red;
}
.Form {
    text-align: center;
  }
  label {
    margin-right: 4px;
  }
  .login-div {
    margin: 12px;
  }
